body {
  font-family: 'Roboto', sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1d1546;
  padding: 50px;
  color: #ffffff;
}

.form-title {
  font-size: 36px;
  margin-bottom: 50px;
  color: #e500e2;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  width: 150px;
}

input[type='text'],
input[type='email'],
textarea {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #1d1546;
  width: 100%;
}

textarea {
  height: 200px;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
}

input[type='submit'] {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #e500e2;
  color: #ffffff;
  width: 30%;
  margin-left: auto;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #ffffff;
  color: #e500e2;
}