.header {
    display: flex;
    flex: 1;
    background-color: white;
    height: 70px;
    margin-bottom: 2px;
    border-style: hidden hidden solid;
    border-width: 1px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-left: 12%;
}

.logo:hover {
    cursor: pointer;
}

.redirect-link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    margin-right: 12%;
    margin-left: 40px;
}

.company-logo {
    width: 200px;
}

.company-logo-helmet {
    width: 20px;
}

body {
    margin: 0;
    background-color: rgb(250, 250, 250);
}

.redirect-text {
    margin: 2%;
    font-weight: 300;
    font-size: 12pt;
    color: rgb(29, 21, 70);
    text-align: center;
}

.redirect-text:hover {
    font-weight: 500;
    color: rgb(229, 0, 226);
    cursor: pointer;
}

p {
    font-family: Roboto, Arial;
}

.footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px, solid, rgb(29, 21, 70);
    border-style: solid hidden hidden;
    border-width: 1px;
    height: 30px;
    margin-top: 6px;
}

.copyright {
    display: flex;
    flex: 1;
    color: rgb(150, 150, 150);
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .logo {
        margin-left: 2%;
        width: 35%;
    }
    .redirect-link {
        margin-right: 2%;
        justify-content: center;
        margin-left: 0px;
    }
    .redirect-text {
        font-size: 10pt;
    }
}

@media screen and (max-width: 500px) {
    .company-logo {
        width: 64px;
    }
    .redirect-text {
        font-size: 8pt;
    }
}

